<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product display</title>
</head>
<body>
    <h1>Наши пирожные</h1>
    <table>
      <tr>
        <th>Название товара</th>
        <th width="200">Категория</th>
        <th width="70">Вес</th>
        <th width="70">Цена</th>
        <th width="200">Описание</th>
        <th>Фото</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.weight }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.info }}</td>
<!--        {% if product.image %}-->
<!--          <td><img src="{{ product.image.url }}" alt="{{ product.name }}"></td>-->
<!--        {% else %}-->
<!--          <td>No image available</td>-->
<!--        {% endif %}-->
      {% endfor %}
    </table>
</body>
</html>
